<script lang="ts">
    import Icon from 'mdi-svelte'
    import { mdiLogoutVariant, mdiAccountOutline } from '@mdi/js'

	import { handleSession, signOut, getUser } from "@lucia-auth/sveltekit/client"

    import '../app.scss'
	import { page } from "$app/stores"

	handleSession(page)

    const user = getUser()
</script>

<main>
    <nav>
        
       <a href="/"><b>Blogging 🦆</b></a>

       <div>

        {#if $user}

            {#if $user.isAdmin}
                <a href="/logs">
                    logs
                </a>
                <a href="/admin">
                    admin
                </a>
            {/if}

            <a href="/profile/{$user.username}">
                <Icon path={mdiAccountOutline}/>
            </a>

            <a href="?" on:click={async () => {
                await signOut()
                // @ts-ignore
                location = "/login"
                // invalidateAll()
            }}>
                <Icon path={mdiLogoutVariant}/>
            </a>

        {:else}
            
            <a href="/register">Register</a>
            <a href="/login">Login</a>

        {/if}

       </div>

    </nav>

    <div id="content">
        <slot/>
    </div>
</main>

<style lang="scss">

    main {
        background: #f7f7f7;
        min-height: 100vh;
    }

    nav, #content {
        margin: auto;

        width: 960px;
        max-width: calc(100vw - 3em);
    }

    nav {
        padding: 1.5em;

        display: flex;
        justify-content: space-between;

        b, a {
            cursor: pointer;
            transition: hover 150ms;

            &:hover {
                color: hsl(275, 73%, 51%);
            }
        }

        b {
            font-size: larger;
        }

        div {
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            gap: 1em;
        }
    }
    
</style>