<script lang="ts">
    import Post from "$lib/client/Post.svelte";
    import Icon from "mdi-svelte";
    import { mdiSendOutline } from "@mdi/js";

    import type { PageData } from "./$types";
    export let data: PageData;
</script>

<main>
    <!-- TODO: Validation -->
    <form method="POST" action="?/post">
        <input type="text" name="message" placeholder="What's on your mind?" />
        <button type="submit">
            <Icon path={mdiSendOutline} />
        </button>
    </form>

    {#if data.posts.length}
        {#each data.posts as post}
            <Post
                {post}
                author={post.author}
                commentCount={post._count.Comment}
            />
        {/each}
    {:else}
    <p style="text-align: center">
        Psst! It seems that nobody has posted anything yet, be the first to do so!
    </p>
    {/if}
</main>

<style lang="scss">
    form {
        max-width: 568px;
        padding: 0.5em;
        margin: auto;
        margin-bottom: 2em;

        display: grid;
        grid-template-columns: 1fr auto;
        gap: 0.5em;
    }
</style>
