<script lang="ts">
    import type { PageData } from "./$types";
    export let data: PageData;
</script>

<table>
    <tr>
        <td><b>Severity</b></td>
        <td><b>Message</b></td>
        <td><b>User</b></td>
        <td><b>Time</b></td>
    </tr>
    {#each data.logs as log}
        <tr>
            <td>{log.isCritical ? "Error" : "Info"}</td>
            <td>{log.message}</td>
            {#if log.user}
                <td>
                    {log.user.emoji}
                    {log.user.name}
                    (@{log.user.username})
                </td>
            {:else}
                <td>System</td>
            {/if}
            <td>{log.loggedAt.toUTCString()}</td>
        </tr>
    {/each}
</table>

<style lang="scss">
    table {
        border-spacing: 1.5em 0.5em;
        margin: auto;
    }
</style>
