<script lang="ts">
    import { invalidateAll } from "$app/navigation";
    import type { PageData } from "./$types";
    export let data: PageData;

    const updatePostStatus = async (e: Event, postId: string) => {
        const response = await fetch("/admin", {
            method: "POST",
            body: JSON.stringify({
                totp: window.prompt("Please enter your TOTP Code:"),
                postId,
                newStatus: (e.target as HTMLSelectElement).value,
            }),
        });

        // At every change, the data is reloaded so that the UI may update
        invalidateAll();

        // React to potential error
        if (!response.ok)
            window.alert((await response.json()).message)
    };
</script>

<table>
    <tr>
        <td><b>Published At</b></td>
        <td><b>Status</b></td>
        <td><b>Author</b></td>
        <td><b>Content</b></td>
        <td><b>Comments</b></td>
    </tr>

    {#each data.posts as post}
        <tr class:deleted={post.status == "deleted"}>
            <td>{post.publishedAt.toUTCString()}</td>
            <td>
                <select
                    on:change={(e) => updatePostStatus(e, post.id)}
                    value={post.status}
                >
                    {#each ["public", "hidden", "deleted"] as status}
                        <option value={status}>{status}</option>
                    {/each}
                </select>
            </td>

            <td>
                <a href="/profile/{post.author.username}">
                    {post.author.emoji}
                    {post.author.name} (@{post.author.username})
                </a>
            </td>

            <td>
                <a href="/post/{post.id}">
                    {post.content}
                </a>
            </td>
            <td>{post._count.Comment}</td>
        </tr>
    {/each}
</table>

<style lang="scss">
    table {
        border-spacing: 1.5em 0.5em;
        margin: auto;

        tr.deleted {
            opacity: 0.5;
        }
    }
</style>
