<script lang="ts">
    let step = 1;

    let username = "";
    let password = "";
    let recovery = "";
    let phone = "";

    let token = "";
    let tokenId: number;

    const stepOneProgression = async () => {
        const response = await fetch("/recovery/sendToken", {
            method: "POST",
            body: JSON.stringify({
                username,
                password,
                phone,
                recovery,
            }),
        });
        if (response.status != 200) {
            window.alert((await response.json()).message);
            throw response.status;
        }
        tokenId = (await response.json()).tokenId;
        step++;
    };

    const stepTwoProgression = async () => {
        const response = await fetch("/recovery/changeNumber", {
            method: "POST",
            body: JSON.stringify({
                username,
                phone,
                token,
                tokenId,
            }),
        });

        if (response.status != 200) {
            console.error(response.status, await response.text());
            window.alert(
                "Token is incorrect"
            );
            throw response.status;
        }

        step++;
    };
</script>

<main>
    <section>
        {#if step == 1}
            <p style="grid-column: span 2">
                As you lost access to your phone number, you can change it here.
            </p>

            <b>Username</b>
            <input
                type="text"
                bind:value={username}
                required
                minlength="4"
                maxlength="16"
                pattern="[a-zA-Z0-9]+"
            />

            <b>Password</b>
            <input
                type="password"
                bind:value={password}
                required
                minlength="8"
                maxlength="32"
            />

            <b>Recovery Token</b>
            <input
                type="text"
                bind:value={recovery}
                required
            />

            <b>New Phone</b>
            <input
                type="tel"
                name="phone"
                bind:value={phone}
                required
                pattern="+\d{2} \d{2} \d{3} \d{2} \d{2}"
            />

            <div class="actionbar">
                <button on:click={stepOneProgression}>Continue</button>
            </div>
        {/if}

        {#if step == 2}
            <p style="grid-column: span 2">
                An SMS Token has been sent to your number.
            </p>
            <b>Token</b>
            <input type="text" bind:value={token} />

            <div class="actionbar">
                <button on:click={stepTwoProgression}>Continue</button>
            </div>
        {/if}

        {#if step == 3}
            <p style="grid-column: span 2">
                Your phone number has been reset successfully
            </p>

            <div class="actionbar">
                <button on:click={() => (location.href = "/")}
                    >Return to Home page</button
                >
            </div>
        {/if}
    </section>
</main>

<style lang="scss">
    main {
        display: grid;
        justify-content: center;
        gap: 1em;

        margin-top: 10vh;

        section {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.5em 1em;
            align-items: center;

            .actionbar {
                grid-column: span 2;

                display: flex;
                justify-content: right;
            }
        }
    }
</style>
