<script lang="ts">
    import Post from "$lib/client/Post.svelte";
    import type { PageData } from "./$types";
    export let data: PageData;

    import ChangeEmojiPopup from "./ChangeEmojiPopup.svelte";
    import ChangeNamePopup from "./changeNamePopup.svelte";

    let showChangeEmoji = false;
    let showChangeName = false;

    import { getUser } from "@lucia-auth/sveltekit/client";
    const user = getUser();
</script>

<ChangeEmojiPopup bind:shown={showChangeEmoji} />
<ChangeNamePopup bind:shown={showChangeName} />

<main>
    {#if data.profileUser?.username == $user?.username}
        <div class="actions">
            <span>Hi, this is you!</span>
            <button on:mousedown={() => (showChangeEmoji = !showChangeEmoji)}
                >Change Emoji</button
            >
            <button on:mousedown={() => (showChangeName = !showChangeName)}
                >Change Name</button
            >
        </div>
    {/if}

    <section>
        <span class="icon">{data.profileUser?.emoji}</span>
        <div>
            <span class="name">{data.profileUser?.name}</span>
            <span class="username thin">@{data.profileUser?.username}</span>
        </div>
    </section>

    {#if data.posts.length}
        {#each data.posts as post}
            <Post {post} commentCount={post._count.Comment} />
        {/each}
    {:else}
        <p style="text-align: center">
            You don't have any posts yet 😭
            <br />
            Better start going to the home page and writing something 😉
        </p>
    {/if}
</main>

<style lang="scss">
    main {
        .actions {
            margin-bottom: 2em;

            & > * {
                margin-right: 0.5em;
            }
        }

        section {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1em;

            .icon {
                font-size: 4em;
            }

            div {
                display: grid;
                margin-left: 1em;
                span {
                    font-size: 2em;
                    margin: -0.2em;
                    &.username {
                        font-size: 1.3em;
                        font-weight: 200;
                    }
                }
            }
        }
    }
</style>
