<script lang="ts">
    import Popup from "$lib/client/Popup.svelte";
    import { mdiContentSave } from "@mdi/js";
    import Icon from "mdi-svelte";
    export let shown = false
</script>

{#if shown}
<Popup title="Change Name" bind:shown>
    <form method="POST" action="?/changeName">

            <label>
                New Name
                <input name="name" type="text"/>
            </label>
            
            <div class="actions">
                <button>
                    <Icon path={mdiContentSave} size={0.8}/> Change Name
                </button>
            </div>

    </form>
</Popup>
{/if}

<style lang="scss">

    form {
        display: grid;
        grid-template-columns: auto;
        gap: 0.5em;

        input {
            margin-left: 0.5em;
        }
        
        .actions {
            display: flex;
            justify-content: right;
        }
    }

</style>
