<script lang="ts">
    import Popup from "$lib/client/Popup.svelte";
    import { mdiContentSave } from "@mdi/js";
    import Icon from "mdi-svelte";
    export let shown = false

    import emojis from 'emojibase-data/en/compact.json'

    let searchQuery = ""
    let selectedEmoji = ""
</script>

{#if shown}
<Popup title="Change Emoji" bind:shown>
    <form method="POST" action="?/changeEmoji">

            <label>
                Seach for Emoji
                <input name="search" type="search" bind:value={searchQuery} />
            </label>
            
            <div class="emojis">
                {#each emojis.filter(e => e.label.toLowerCase().includes(searchQuery.toLowerCase())) as emoji}
                    <span
                    class:active={emoji.unicode == selectedEmoji}
                    on:mousedown={() => selectedEmoji = emoji.unicode}
                    >
                        {emoji.unicode}
                    </span>
                {/each}
            </div>

            <label style="border-top: 1px solid #ddd; padding-top: 1em">
                New Emoji
                <input name="emoji" type="text" bind:value={selectedEmoji} />
            </label>
            
            <div class="actions">
                <button disabled={!selectedEmoji.length}>
                    <Icon path={mdiContentSave} size={0.8}/> Change Emoji
                </button>
            </div>

    </form>
</Popup>
{/if}

<style lang="scss">

    form {
        display: grid;
        grid-template-columns: auto;
        gap: 0.5em;

        label {
            display: flex;
            justify-content: space-between;
        }

        .emojis {
            display: grid;
            grid-template-columns: repeat(20, 1em);
            gap: 0.5em;

            overflow-Y: scroll;
            height: min(200px, 50vh);

            span {
                cursor: pointer;
            }
        }

        .actions {
            display: flex;
            justify-content: right;
        }
    }

</style>
