<script lang="ts">
    import { invalidateAll } from "$app/navigation";

    let step = 1;
    let loading = false;

    let name = "";
    let username = "";
    let password = "";
    let phone = "";
    let token = "";
    let tokenId: number;

    let recoveryToken: string;

    const stepOneProgression = async () => {
        // TODO: Validation of name and username using functions and server
        if (true) {

            step++

        } else {
            // TODO: Error
        }
    }

    const stepTwoProgression = async () => {

        // TODO: Validation of phone number using functions and server
        if (true) {

            const response = await fetch("/register/sendToken", {
                method: "POST",
                body: JSON.stringify({
                    phone
                })
            })
            if (response.status != 200) {
                console.error(response.status, await response.text())
                window.alert("Something went wrong requesting a token, see browser console for details")
                throw response.status
            }
            tokenId = (await response.json()).tokenId
            step++

        } else {
            // TODO: Error
        }

    }

    const stepThreeProgression = async () => {

        // TODO: Validation of phone number using functions and server
        if (true) {

            const response = await fetch("/register/createAccount", {
                method: "POST",
                body: JSON.stringify({
                    name,
                    username,
                    password,
                    phone,
                    token,
                    tokenId
                })
            })

            if (response.status != 200) {
                console.error(response.status, await response.text())
                window.alert("Something went wrong requesting a token, see browser console for details")
                throw response.status
            }

            // display recovery token
            recoveryToken = (await response.json()).recoveryToken
            step++

        } else {
            // TODO: Error
        }

    }
</script>

<main>
    {#if step == 1}
        <button on:click={() => (location.href = "/api/oauth/redirect")}>
            Continue with Github
        </button>

        <br />
    {/if}

    <section>

        {#if step == 1}
            <!-- TODO: Emoji selector -->

            <b>Name</b>
            <input type="text" name="name" bind:value={name} />
            
            <b>Username</b>
            <input
                type="text"
                bind:value={username}
                required
                minlength="4"
                maxlength="16"
                pattern="[a-zA-Z0-9]+"
            />

            <b>Password</b>
            <input
                type="password"
                bind:value={password}
                required
                minlength="8"
                maxlength="32"
            />

            <div class="actionbar">
                <button on:click={stepOneProgression}>Continue</button>
            </div>
        {/if}

        {#if step == 2}

            <b>Phone</b>
            <input type="tel" name="phone" bind:value={phone} required pattern="+\d{2} \d{2} \d{3} \d{2} \d{2}" />

            <div class="actionbar">
                <button on:click={stepTwoProgression}>Continue</button>
            </div>
        {/if}

        {#if step == 3}

            <p style="grid-column: span 2">
                An SMS Token has been sent to your number.
            </p>
            <b>Token</b>
            <input type="text" bind:value={token} />

            <div class="actionbar">
                <button on:click={stepThreeProgression}>Continue</button>
            </div>
        {/if}

        {#if step == 4}

            <p style="grid-column: span 2">
                This is your Recovery Token, please write this down in case you loose your phone number:
            </p>

            <p style="grid-column: span 2">
                {recoveryToken}
            </p>

            <div class="actionbar">
                <button on:click={() => window.location.href = "/"}>Go to home panel</button>
            </div>
        {/if}

    </section>
</main>

<style lang="scss">
    main {
        display: grid;
        justify-content: center;
        gap: 1em;

        margin-top: 10vh;

        section {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 0.5em 1em;
            align-items: center;

            .actionbar {
                grid-column: span 2;

                display: flex;
                justify-content: right;
            }
        }
    }
</style>
