<script lang="ts">
    import { mdiClose } from "@mdi/js";
    import Icon from "mdi-svelte";

    export let title: string
    export let shown = true
</script>

<div class="wrapper">
    <main>
        <div class="header">
            <h1>{title}</h1>

            <span on:click={() => shown = false} on:keydown={null}>
                <Icon path={mdiClose} />
            </span>
        </div>

        <div class="content">
            <slot />
        </div>
    </main>
</div>

<style lang="scss">
    h1 {
        margin: 0;
    }

    .wrapper {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        background: rgba($color: #000000, $alpha: 1%);

        main {
            background: #fff;
            border-radius: 0.5em;
            border: 1px solid #ccc;

            .header,
            .content {
                padding: 0.5em;
            }

            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
</style>
