<script lang="ts">
    import type { Post } from "@prisma/client";

    import {
        mdiCommentOutline,
        mdiEarth,
        mdiEyeOffOutline,
    } from "@mdi/js";
    import Icon from "mdi-svelte";
    import ms from "ms";

    export let author:
        | {
              username: string;
              name: string;
              emoji: string;
          }
        | undefined = undefined;
    export let post: Post;
    export let commentCount: Number | undefined = undefined;

    const timeSincePublished =
        new Date().getTime() - post.publishedAt.getTime();
</script>

<main>
    {#if author}
        <div class="details">
            <a class="pfp" href="/profile/{author.username}">
                {author.emoji}
            </a>

            <a href="/profile/{author.username}">
                <span class="name">{author.name}</span>
                <span class="username thin">@{author.username}</span>
            </a>

            <span class="age thin">
                <!-- if the time since the published is smaller than 3 seconds, say "just now" instead -->
                {#if timeSincePublished > 3000}
                    {ms(timeSincePublished)} ago
                {:else}
                    just now
                {/if}
            </span>
        </div>
    {/if}

    <a href="/post/{post.id}">
        <div class="content">
            <p style={!author ? "margin: 0.25em" : "margin: 0.5em 0"}>
                {post.content}
            </p>
        </div>

        {#if commentCount != undefined}
            <div class="actions">
                {#if !author}
                    <span class="age thin">
                        {ms(new Date().getTime() - post.publishedAt.getTime())} ago
                    </span>
                {:else}
                    <span />
                {/if}

                <div>
                    <!-- {#if post.status == "public"}
                        <span>
                            <Icon path={mdiEarth} />
                        </span>
                    {/if} -->

                    {#if post.status == "hidden"}
                        <span>
                            <Icon path={mdiEyeOffOutline} />
                        </span>
                    {/if}

                    <span>
                        <Icon path={mdiCommentOutline} />
                        {commentCount}
                    </span>
                </div>
            </div>
        {/if}
    </a>
</main>

<style lang="scss">
    main {
        max-width: 550px;
        margin: auto;
        margin-bottom: 1em;

        background: #fff;
        border-radius: 0.5em;
        border: 1px solid #ccc;
        padding: 0.5em;

        transition: border 200ms;
        &:hover {
            border: 1px solid #a0a0a0;
        }

        .details {
            display: grid;
            gap: 0.5em;
            grid-template-columns: auto 1fr auto;
            align-items: center;

            .pfp {
                font-size: 2.5em;
                cursor: pointer;
            }

            a {
                display: grid;
                cursor: pointer;

                .name {
                    font-weight: bold;
                    font-size: 1.1em;
                }
            }

            .age {
                margin-right: 1em;
            }
        }

        .actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 500;
            padding: 0.5em;

            span {
                // cursor: pointer;
                &:not(:first-child) {
                    margin-left: 1em;
                }
                // transition: hover 150ms;
                // &:hover {
                //     color: hsl(275, 73%, 51%);
                // }
            }
        }
    }

    .thin {
        font-weight: 200;
    }
</style>
