<script lang="ts">
    import {
        mdiEarth,
        mdiEyeOffOutline,
        mdiReplyOutline,
        mdiTrashCanOutline,
    } from "@mdi/js";
    import Icon from "mdi-svelte";

    import type { PageData, ActionData } from "./$types";
    export let data: PageData;
    export let form: ActionData;

    
    import Comment from "./Comment.svelte";
    import Post from "$lib/client/Post.svelte";
    
    const { post } = data;
    
    import { getUser } from "@lucia-auth/sveltekit/client";
    const user = getUser();
</script>

<main>
    {#if post}
        {#if post.author.username == $user?.username}
            <div class="actions">
                <span>Hi, this post is from you!</span>
                <!-- Switch between public and hidden
                <form method="POST" action="?/changeStatus">
                    <button type="submit">
                        <span>
                            Status:
                            {#if post.status == "public"}
                                <Icon path={mdiEarth} size={0.8} />
                                (Public)
                            {/if}
                            {#if post.status == "hidden"}
                                <Icon path={mdiEyeOffOutline} size={0.8} />
                                (Hidden)
                            {/if}
                        </span>
                    </button>
                </form> -->
                <!-- Delete post -->
                <form method="POST" action="?/delete">
                    <button type="submit">
                        <span>
                            <Icon path={mdiTrashCanOutline} size={0.8} />
                            Delete
                        </span>
                    </button>
                </form>
            </div>
        {/if}

        <Post {post} author={post.author} />

        <div class="comments">
            {#if $user}
                <form method="POST" action="?/comment">
                    <input
                        type="text"
                        name="message"
                        placeholder="Comment something"
                        value={form?.message || ""}
                        maxlength="200"
                    />
                    {#if form?.missing}
                        <span>Missing: {form?.missing}</span>
                    {/if}
                    <button><Icon path={mdiReplyOutline} /></button>
                </form>
            {/if}

            {#each post.Comment as comment}
                <Comment {comment} />
            {/each}
        </div>
    {:else}
        <h1>404 Post not found</h1>
    {/if}
</main>

<style lang="scss">
    .actions {
        display: flex;
        align-items: center;
        margin-bottom: 2em;

        & > * {
            margin-right: 0.5em;
        }
    }

    main {
        .comments {
            max-width: 550px;
            margin: auto;
            margin-top: 3em;

            display: grid;
            gap: 0.5em;
            justify-content: center;

            form {
                display: grid;
                grid-template-columns: 1fr auto;
                gap: 0.5em;
                margin-bottom: 0.5em;
            }
        }
    }
</style>
