<script lang="ts">
    import type { PageData } from "./$types";
    import ms from "ms";

    export let comment: PageData["post"]["Comment"][0];

    const timeSincePublished = new Date().getTime() - comment.commentedAt.getTime();
</script>

<main>
    <!-- TODO: Standardise this -->
    <div class="details">
        <a class="pfp" href="/profile/{comment.commentor.username}">
            {comment.commentor.emoji}
        </a>

        <a href="/profile/{comment.commentor.username}">
            <span class="name">{comment.commentor.name}</span>
            <span class="username">@{comment.commentor.username}</span>
        </a>

        <span class="age thin">
            <!-- if the time since the published is smaller than 3 seconds, say "just now" instead -->
            {#if timeSincePublished > 3000}
                {ms(timeSincePublished)} ago
            {:else}
                just now
            {/if}
        </span>
    </div>

    {comment.message}
</main>

<style lang="scss">
    main {
        width: 300px;
        margin: auto;

        background: #fff;
        border-radius: 0.5em;
        border: 1px solid #ccc;
        padding: 0.5em;

        .details {
            display: grid;
            gap: 0.5em;
            grid-template-columns: auto 1fr auto;
            align-items: center;

            .pfp {
                font-size: 2em;
                cursor: pointer;
            }

            a {
                display: grid;
                cursor: pointer;

                .name {
                    font-weight: bold;
                    font-size: 1em;
                    margin-bottom: -0.35em;
                }

                .username {
                    font-weight: 200;
                    font-size: 0.9em;
                }

            }

            .age {
                margin-right: 0.5em;
            }

        }
    }
</style>
