body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

a {
    text-decoration: inherit;
    color: inherit;
}

input, button {
    background: #fff;

    border-radius: 0.35em;
    padding: 0.5em;

    transition: border 200ms;
    border: 1px solid #ccc;
    &:hover {
        border: 1px solid #a0a0a0;
    }
}