<script lang="ts">
    import { invalidateAll } from "$app/navigation";

    let step = 1;
    let loading = false;

    let username = "";
    let password = "";
    let token = "";

    const verifyCredentials = async () => {
        const response = await fetch("/login", {
            method: "POST",
            body: JSON.stringify({
                username,
                password,
            }),
        });

        // TODO: Loading screen

        if (response.status == 201) step++;
        else {
            const error = await response.json()
            console.log(error)
            window.alert(
                error.message || "Error: " + error
            );
        }
    };

    const verifyToken = async () => {
        const response = await fetch("/login", {
            method: "POST",
            body: JSON.stringify({
                username,
                password,
                token,
            }),
        });

        console.log(response.status, response.statusText);

        if (response.status == 200) invalidateAll();
        else {
            const error = await response.json()
            console.log(error)
            window.alert(
                error.message || "Error: " + error
            );
        }
    };

    const proceed = () => {
        if (step == 1) verifyCredentials();
        else if (step == 2) verifyToken();
        else window.alert("Something went wrong");
    };
</script>

<main>
    <section>
        {#if step == 1}
            <b>Username</b>
            <input
                type="text"
                bind:value={username}
                on:keydown={e => e.key == "Enter" && proceed()}
                required
                minlength="4"
                maxlength="16"
                pattern="[a-zA-Z0-9]+"
            />

            <b>Password</b>
            <input
                type="password"
                bind:value={password}
                on:keydown={e => e.key == "Enter" && proceed()}
                required
                minlength="8"
                maxlength="32"
            />
        {:else}
            <p style="grid-column: span 2">
                An SMS Token has been sent to your number.
            </p>
            <b>Token</b>
            <input
                type="text"
                bind:value={token}
                on:keydown={(e) => e.key == "Enter" && proceed()}
            />
        {/if}

        <div class="actionbar">
            <button on:click={() => (location.href = "/api/oauth/redirect")}
                >Continue with Github</button
            >
            <button on:click={proceed}>Login</button>
        </div>

        <!-- TODO -->
        <a href="/recovery" style="opacity: 0.35; margin-top: -0.5em">
            I lost access to my phone number
        </a>
    </section>
</main>

<style lang="scss">
    main {
        display: flex;
        justify-content: center;

        margin-top: 10vh;

        section {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 1em;
            align-items: center;

            .actionbar {
                grid-column: span 2;

                display: flex;
                justify-content: space-between;
            }
        }
    }
</style>
